#b{
    background-color: rgb(255,255,255);
}
.wrapper{
    background : rgb(225,225,225);
    box-shadow: 5px 5px 5px #b6a9a9, -5px -5px 10px #ffffff;
    border-radius: 10px;
    margin: 100px 300px auto 300px;
}

